<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymleaf-extras-springsecurity5">
<meta charset="UTF-8" />

<head th:replace="fragments/head.html :: head"></head>
<body>
	<div th:replace="fragments/navbar.html :: navbar"></div>
	<div th:replace="fragments/navbar.html :: secondaryNavbar"></div>
	<div th:replace="fragments/session.html :: session"></div>
	<div th:replace="fragments/profil.html :: profil"></div>
	<div th:replace="fragments/profil.html :: info_profil"></div>
	<div th:replace="fragments/footer.html :: footer"></div>
</body>