<!-- Contact  -->
a<form th:fragment="add_connection" th:action="@{/contact}"  method="post" class="container">
  <div class="mb-3">
      <h5 class="card-title">Ajouter vos contacts via leurs email</h5>
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required="required">
<!--     <div th:if="${#fields.hasErrors('username')}" class="alert alert-danger" role="alert">Attention</div>
 --><!--     <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
 -->  </div>
    <div class="alert alert-danger" role="alert" th:if="${param.error}" >Utilisateur non trouvé</div>
  <button type="submit" class="btn btn-primary">Add Connection</button>
</form>



<!-- Contact  -->
<div th:fragment="contact" th:object="${friends}" class="container">
      <h5 class="card-title">Vos Contacts</h5>
<table class="table table-striped">
  <thead class="thead">
    <tr>
<!--  <th scope="col">#</th>  --> 
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="friend : ${friends}">
      <th name="name" th:text="${friend.name}"></th>
      <td name="firstname" th:text="${friend.firstname}"></td>
      <td name="username" th:text="${friend.username}"></td> 
    </tr>
  </tbody>
</table>
</div>