  
<!-- Login  -->
<form th:fragment="signin" th:action="@{/signin}" method="post">
<div class="container">
<div class="formBox">
<div>
<h2 id="pmBudy2">Pay My Budy</h2>
</div>
<div id="email" class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input name="email" oninput="this.value = this.value.toLowerCase()"class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
  <div id="psw" class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
       <div align="center"  class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('global')}" th:each="err : ${#fields.errors('global')}" th:text="${err}"></div>  
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">Remember me</label>
</div>
<div class="btn-container">
    <button class="btn btn-primary" type="submit">Login</button>
</div>
    <div>
    	<p class="fw-bold">New on pay My budy ? </p>
          <a class="nav-link" href="/signup">Sign-Up</a>
    </div>
  </div>
</div>
</form>
    

<!-- Login Succes -->
<div class="container" th:fragment="signinSuccess">
	<div id="loginSucces"  align="center">
	<div class="alert alert-success" role="alert">Connexion success ! bienvenue:   <span class="fw-bold" th:text=${session.Email}></span> </div>
		<div class="alert alert-info" role="alert">Pensez à ajouter vos infos dans votre profil</div>
<!--<span>Password:</span><span th:text=${userForm.password}></span><br/> -->
	</div>
</div>