<!-- Add connections success -->
<div th:fragment="add_friend_success" class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Votre amis à bien été ajouté</p>
  	<a href="/contact" class="alert-link">Retour à la liste</a>
  <hr>
</div>

<!-- Maj profil success -->
<div th:fragment="maj_profil_success" class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Votre profil à bien été mis a jour !</p>
  	<a href="/profil" class="alert-link">Retour au profil</a>
  <hr>
</div>

<!-- Transfert success -->
<div th:fragment="transfert_success" class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Votre virement à bien été éfféctué !</p>
  	<a href="/transfert" class="alert-link">Retour a la liste des virements</a>
  <hr>
</div>

