<!-- Transfert  -->
<div th:fragment="transfert" th:object=${transfertDTO} class="container">
<form th:action="@{/transfert}" method="post">
<div class="row" id="block1">
	<div id="sendMoney" class="col-sm">
		<p>Send Money</p>
	</div>
	<div th:each="bank : ${transfertDTO.bankaccounts}" id="addCon" class="col-sm">
		<div class="border border-4" >Argent disponible: <span th:text="${bank.moneyavailable}"></span></div>
   		<a class="btn btn-primary" th:href="@{/contact}" type="button">Add Connection</a>	
	</div>
</div>

<div class="row" id="block2">
	<div class="col-sm">
		<select th:field="${transfertDTO.friend}" class="form-select" aria-label="Default select example">
		  <option value="select a friend" selected>Select A friend</option>
		  <option th:each="friend : ${transfertDTO.friends}" th:text="${friend.username}" th:value="${friend.username}"></option>
		</select>
	</div>
	<div class="col-sm">
		  <input th:field="${transfertDTO.amount}" type="number" class="form-control" id="formGroupExampleInput" placeholder="0$">
	</div>
	<div class="form-floating">
<!--   <textarea th:each="transac : ${transfertDTO.transactions}" th:field="${transac.label}" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
 -->	</div>
	<div class="col-sm">
		<button id="pay" type="submit" class="btn btn-primary">Pay</button>
	</div>
</div>

<div>
	<p>My Transactions</p>
</div>
<table class="table table-striped">
  <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Connection</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="transac : ${transfertDTO.transactions}">
      <th scope="row"></th>
     	<th name="name" th:text="${transac.username}"></th>
      	<td name="firstname" th:text="${transac.label}"></td>
      	<td name="username" th:text="${transac.amount}"></td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</form>
</div>
